/* AddAnotherListContainer */
.AddAnotherListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    min-width: 16rem;
    align-items: center;
    background-color: transparent;
    color: white;
    height: fit-content;
    margin-left: 0.2rem;
    gap: 0.3rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 250ms ease;
  }
  
  .AddAnotherListContainer.show {
    background-color: #ebecf0;
  }
  
  /* AddAnotherListButton */
  .AddAnotherListButton {
    width: 100%;
    display: flex;
  }
  
  .AddAnotherListButton.hide {
    display: none;
  }
  
  /* Keyframes */
  @keyframes slideAnimation {
    0% { height: 0rem; width: 100%; overflow: hidden; }
    25% { height: 1rem; width: 100%; overflow: hidden; }
    50% { height: 2rem; width: 100%; overflow: hidden; }
    75% { height: 3rem; width: 100%; overflow: hidden; }
    100% { height: 4rem; width: 100%; overflow: hidden; }
  }
  
  /* AddListContainer */
  .AddListContainer {
    flex-direction: column;
    display: none;
    animation-name: slideAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    padding: 0.5rem;
    gap: 0.3rem;
  }
  
  .AddListContainer.show {
    display: flex;
  }
  
  /* AddListWrapper */
  .AddListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  /* ListTitleInput */
  .ListTitleInput {
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    border: none;
    outline: 2px solid #0079bf;
    display: flex;
    justify-content: flex-start;
    display: inline;
  }
  
  .ListTitleInput:focus {
    /* Add focus styles here */
  }