*{
    box-sizing: border-box;
   
}

#root{
    height: 100vh;
    overflow: hidden;
    font-family: "Nunito" !important;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
        url("./assets/nunito/Nunito-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

