.login-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 3fr 2fr;

    .left-content {
        background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255)) no-repeat;
        display: flex;
        position: relative;
        flex-direction: column;

        .header {
            .name {
                padding-left: 24px;
                padding-top: 24px;
                font-size: 32px;
                font-weight: 600;
            }
        }

        .greeting {
            padding: 65px 100px 0 100px;


            h1 {
                font-size: 54px;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-weight: 400;
            }
        }

        img {
            width: 35%;
            position: absolute;
            bottom: 0;
            right: 15%;
        }
    }

    .right-content {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-container {
            width: 307px;
            height: 394px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .top-title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                h1 {
                    color: #333;
                    font-size: 26px;
                    font-weight: 700;
                    padding: 0;
                    margin: 0;
                }

                p {
                    color: #333;
                    font-size: 18px;
                    font-weight: 400;
                    margin: 0;
                }
            }

            .form-card {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    align-items: center;

                    .input-box,
                    .login-btn {
                        display: flex;
                        align-items: center;
                        width: 307px;
                        border-radius: 30px;
                        border: 1px solid #EEE;
                        background: #FFF;

                        input {
                            padding: 18px 42px 18px 3px;
                            border: 1px solid transparent;
                            outline: none;
                        }
                    }

                    .input-box {
                        padding-left: 20px;
                    }

                    .login-btn {
                        font-size: 14px;
                        font-weight: 400;
                        color: #fff;
                        text-align: center;
                        background: #0575E6;
                        padding: 18px 26px;
                        justify-content: center;
                        cursor: pointer;

                    }

                    .register {
                        font-size: 14px;
                        font-weight: 400;

                        span {
                            margin-left: 3px;
                            color: #367AFF;
                            text-decoration-line: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}