.Container {
	margin-left: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.LeftContainer {
	padding-top: 0.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
}

.RightContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.TitleWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.Title {
	margin: 0;
	padding: 0.2rem 0rem 0rem 0rem;
	display: inline;
	color: black;
	font-size: 1rem;
	font-weight: 800;
}

.CommentWrapper {
	width: 100%;
	height: fit-content;
	position: relative;
}

.CommentArea {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	resize: none;
	outline: none;
	border-radius: 2px;
	height: 2.1rem;
	font-size: 0.875rem;
	padding: 0.5rem 0.75rem;
	border: 1px solid lightgray;
	transition: 170ms ease-in;
	cursor: pointer;
}

.CommentArea:focus {
	height: 5.25rem;
	box-shadow: 0 4px 8px -2px #091e4240, 0 0 0 1px #091e4214;
}

.CommentArea:hover {
	border-bottom: 1px solid #afafaf;
}

.SaveButton {
	display: none;
	position: absolute;
	border: none;
	background-color: #0079bf;
	color: white;
	border-radius: 3px;
	padding: 0.375rem 0.75rem;
	cursor: pointer;
	z-index: 123;
	bottom: 1rem;
	left: 0.75rem;
}

.SaveButton:hover {
	background-color: #026aa7;
}

.SaveButton:disabled {
	background-color: #0079bf4d;
	cursor: not-allowed;
}

.SaveButton.show {
	display: block;
}
