.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 260px;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
}

input[type='email'] {
    border: none;
    outline: 2px solid transparent;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.035);
    padding: 0.3rem;
    font-size: 1rem;
    width: 100%;
    flex: 3;
    transition: 150ms ease-in;
}

input[type='email']:hover {
    background-color: rgba(0, 0, 0, 0.065);
}

input[type='email']:focus {
    background-color: white;
    color: black;
    outline: 2px solid #0079bf;
}

.chip-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.chip {
    cursor: pointer;
    max-width: 8rem;
    opacity: 70%;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.035);
    border-radius: 3px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.chip span {
    margin-left: 0.5rem;
}

button {
    /* Add your button styles here */
}
