/* Container */
.Container {
    box-sizing: content-box;
    border: 1px solid white;
    height: fit-content;
    max-height: 98%;
    min-width: 15rem;
    width: 15rem;
    max-width: 16rem;
    margin: 0rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    border-radius: 3px;
    background-color: #ebecf0;
    padding: 0.3rem;
  }
  
  /* Header */
  .Header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
  }
  
  /* TitlePlaceholder */
  .TitlePlaceholder {
    display: block;
    width: 100%;
    padding-left: 0.3rem;
    border: none;
    border-radius: 1px;
    background-color: transparent;
    font-size: 0.85rem;
    font-weight: 600;
    color: #000;
    outline: none;
    cursor: pointer;
  }
  
  .TitlePlaceholder[show='true'] {
    display: none;
  }
  
  /* TitleInput */
  .TitleInput {
    display: none;
    width: 100%;
    padding-left: 0.3rem;
    padding-bottom: 0.2rem;
    border: none;
    border-radius: 1px;
    background-color: transparent;
    font-size: 0.85rem;
    font-weight: 600;
    color: #000;
    outline: none;
    cursor: pointer;
  }
  
  .TitleInput[show='true'] {
    display: block;
  }
  
  .TitleInput:focus {
    background-color: white;
    outline: 2px solid #0079bf;
    cursor: text;
  }
  
  /* CardContainer */
  .CardContainer {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
  }
  
  /* CardWrapper */
  .CardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    max-height: 70.6vh;
    justify-content: flex-start;
    padding: 0.1rem 0.1rem 0.1rem 0rem;
    width: 100%;
  }
  
  .CardWrapper[dock='true'] {
    max-height: 73.5vh;
  }
  
  /* FooterButton */
  .FooterButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    align-self: flex-end;
    justify-self: flex-end;
    cursor: pointer;
    gap: 0.3rem;
    color: #636363;
    transition: 150ms ease-in;
  }
  
  .FooterButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /* Span */
  .Span {
    font-size: 0.85rem;
  }
  
  /* AddTitleCardContainer */
  .AddTitleCardContainer {
    box-sizing: border-box;
    margin-top: 0.2rem;
    padding: 0rem 0.2rem;
    min-width: 14.7rem;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
  }
  
  /* TitleNewCardInput */
  .TitleNewCardInput {
    border: 2px solid transparent;
    border-radius: 3px;
    resize: none;
    font-size: 0.75rem;
    color: #000;
    padding: 0.4rem 0.5rem;
    min-height: 4rem;
    max-height: 7rem;
    /*height: ${(props) => props.height};*/
    transition: 500ms ease-in;
    outline: none;
  }
  
  .TitleNewCardInput:focus {
    border: 2px solid #0079bf;
  }
  
  .TitleNewCardInput::placeholder {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
  }
  